<%- include('partials/head.ejs') %>

     <%- include('partials/navbar.ejs') %>
          <%- include('partials/hero.ejs') %>
               <div class="container">
                    <h1 class="text-center mb-4">nos dresseurs</h1>
               </div>
               <%- include('partials/trainer-card.ejs') %>


                    <%- include('partials/footer.ejs') %>